<div id="fb-root"></div>
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>

<div id="wrap">

	<nav class="navbar navbar-default navbar-fixed-top nav-top-custom">
		<div class="container">
			<div class="navbar-header nav-title-left">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-id">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand nav-title-text" href="#"1 style="font-family: sans-serif; font-weight: 600; font-size: 22px !important;"> AppsWork <span style="font-size: 12px; font-weight: 500;"> [アップスワーク]</span> </a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-id">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form">
							<a class="btn btn-default" onclick="openRecruitDialog()"> <i class="glyphicon glyphicon-plus"></i>&nbsp;仕事依頼 (無料) </a>
						</form>
					</li>
					<li>
						<form class="navbar-form" style="padding: 0 10px;">
							<a class="btn btn-default btn-sm" style="padding: 3px 8px;"> <i style="font-size: 23px;" class="glyphicon glyphicon-info-sign"></i> </a>
						</form>
					</li>
					<li>
						<form class="navbar-form" style="padding: 0 10px;">
							<a class="btn btn-default btn-sm" style="padding: 3px 8px;"> <i style="font-size: 23px;" class="glyphicon glyphicon-envelope"></i> </a>
						</form>
					</li>
					<li>
						<form class="navbar-form" style="padding: 0 10px;">
							<a class="btn btn-default btn-sm" style="padding: 3px 8px;"> <i style="font-size: 23px;" class="glyphicon glyphicon-user"></i> </a>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="main container">

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div style="float: left; font-size: 15px;">
							メッセージ一覧
						</div>
						<div style="float: right;">
							<a class="btn btn-default btn-sm"> <i class="glyphicon glyphicon-search"></i></a>
							<a class="btn btn-default btn-sm" style="margin-left: 10px;"> <i class="glyphicon glyphicon-plus"></i></a>
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default" style="margin-bottom: 10px;">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#system" style="color: #212121;"> <h4 class="panel-title" style="font-size: 13px; float: left;"><img src="/assets/person.jpg" style="max-height: 60px; max-width: 60px;" /></h4>
										<div style="float: left; font-size: 14px !important; margin-left: 10px; color: #2196f3;">
											<span>developer</span>
											<br />
											<span>(会社名)</span>
										</div>
										<div style="float: left; font-size: 14px !important; margin-left: 10px; color: #2196f3;">
											<span>【若手歓迎！未経験でもOK】javaでサイト制作をした事がある方募集！！</span>
										</div>
										<div style="float: right; font-size: 10px;">
											2015/04/12 12:23
										</div> <div style="clear: both;"></div> </a>
									</div>
									<div id="system" class="panel-collapse collapse">
										<div class="panel-body" style="font-size: 12px; padding: 20px 25px;">

											<hr />

											<div class="row" style="margin-top: 10px;">
												<div class="col-lg-12">
													<div>
														<div style="float: left;">
															<img src="/assets/person.jpg" style="max-height: 30px; max-width: 30px;" />
														</div>
														<div style="float: left; margin-left: 10px;">
															<span>developer</span>
														</div>
														<div style="float: right; font-size: 10px;">
															2015/04/12 12:23
														</div>
														<div style="clear: both;"></div>
													</div>
													<div style="margin-top: 10px;">
														<pre class="back-none" style="font-size: 13px;">
ああ 様

はじめまして。
この度は、弊社のオンライン英会話システム・リニューアルにつきまして、
魅力的なご提案ありがとうございまいした。

-----------------------------------------
・一般公開サイト：

・講師専用サイト
・管理者専用サイト
-----------------------------------------

次のステップとして、『講師専用サイト』と『管理者専用サイト』の
デモ用公開サイトの準備を行っております。

今週中（24日まで）に準備ができる予定ですので、追ってご連絡
させて頂きます。

実際にどのようなものか確認して頂き、全体像を把握した上で、より正確な
お見積りを頂けますか？

その後、条件が合うようであれば、スカイプ等で具体的な相談をさせて
頂ければ幸いです。

宜しくお願いいたします。</pre>
													</div>
												</div>
											</div>
										</div>

										<div class="panel-footer" style="border-top: 1px solid #eeeeee;">
											<div class="row">
												<div class="col-lg-12">
													<textarea class="form-control" rows="5" style="background-color: white;" ></textarea>
													<div style="float: right; margin-top: 5px;">
														<button type="button" class="btn btn-primary btn-xs">
															送 信
														</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="footer">
		<hr class="footer_hr" />

		<div class="container">
			<div style="float: left;" class="footer_text">
				<a href="https://docs.google.com/forms/d/1uWKAqkDGFan9UJVUmnmW9FZCpCLAKflg7pSZg1rS0JM/viewform?usp=send_form" target="_blank">Contact us.</a>
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>

	<!--
	<div class="container">
	<div style="position: absolute; cursor: default; background-color: red;bottom: 0;right: 0;">
	text
	<br>
	2row
	</div>
	</div>
	-->

	<!-- ローディング -->
	<div id="loading" style="display:none">
		<img src="/assets/loding.gif">
	</div>

</div>

<script>
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
		if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = p + '://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, 'script', 'twitter-wjs');

</script>
