	<div class="main container">

		<div class="row">
			<div class="col-lg-2">
				
				<h6>{{employer.user_name}} ({{employer.user_kbn_name}})</h6>
				<img ng-src="{{employer.img_path}}" style="max-height: 134px; max-width: 134px;" />

				<div style="margin-top: 10px;" ng-bind-html="employer.user_inf | lineBreak">
				</div>

				<a class="btn btn-default btn-sm" style="margin-top: 20px;" ng-href="message/{{employer.user_id}}"> 
					<i class="glyphicon glyphicon-envelope"></i>&nbsp;メッセージを送る</a>
					
				<div style="margin-top: 20px;" class="fb-like" data-href="{{getCurrentFullUrl()}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
				<div style="margin-top: 20px;">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{getCurrentFullUrl()}}" data-counturl="{{getCurrentFullUrl()}}">Tweet</a>
				</div>
					
			</div>
			
			<div class="col-lg-10">

				<h6>会社概要（法人）・事業内容（個人）</h6>
				<hr />
				<p ng-bind-html="employer.content | lineBreak"></p>
				
				<h6 style="margin-top: 100px;">登録仕事カテゴリ</h6>
				
				<div ng-show="!isCategoriesExists()">
					<hr />
					<p>登録がありません</p>
				</div>
				
				<div ng-show="isCategoriesExists()">
					<div ng-repeat="category in employer.work_categories">
						<pre ng-bind="category.wk_name"></pre>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- メッセージ追加モーダル -->
	<form novalidate name="formMessage" ng-submit="insertMessageThread(messageThread)" autocomplete="on">
		<div class="modal" id="modal-message" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content" style="max-width: 500px;">
					<div class="modal-header" style=" border-bottom: 1px solid #e5e5e5; padding: 10px 15px;">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true" style="font-size: 21px;">&times;</span>
						</button>
						<h4 class="modal-title" id="modal-label" style="font-size: 17px;">メッセージ送信</h4>
					</div>
					<div class="modal-body" style="padding: 20px;">
						<div class="row">
							<div class="col-lg-12">
								
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; display: none;" ng-style="{display: displaySendMessages == '' ? 'none' : ''}">
									<div class="alert" ng-class="{'alert-info alert-info-ex-blue': !isError(errorsSend), 'alert-danger': isError(errorsSend)}" role="alert">
										<button type="button" class="close" data-dismiss="alert" style="font-size: 0;">
											<span aria-hidden="true" style="font-size: 17px;">×</span><span class="sr-only">Close</span>
										</button>
										<p class="text-center" ng-bind-html="displaySendMessages | lineBreak">
										</p>
									</div>
								</div>	
															
								<div>
									<p>
										ユーザー名、または、メールアドレスで<br />メッセージ送信を行うユーザーを検索してください。
									</p>
								</div>
								<div>
									<div class="form-group" ng-class="{'has-error': isAttrError(errorsSend.user_name)}" style="float: left; width: 300px;">
										<input type="text" class="form-control" ng-model="searchUser.user_name" placeholder="ユーザー名、または、メールアドレス">
									</div>
									<div style="float: left;">
										<button type="button" class="btn btn-default" style="margin-left: 5px;" ng-click="getUserList(searchUser)">
											検 索
										</button>
									</div>
									<div style="clear: both;"></div>
								</div>
								
								<div ng-repeat="userMessage in users" style="margin-top: 20px;">
									<hr />
									
									<div>
										<div  style="float: left; min-width: 70px;">
											<img ng-src="{{userMessage.img_path}}" style="max-height: 70px; max-width: 70px;">
										</div>
										<div  style="float: left; margin-left: 10px;">
											<a ng-bind="userMessage.user_name"></a>
										</div>
										<div style="float: right;">
											<button type="button" class="btn btn-default btn-sm" ng-click="selectUser(userMessage)">
												選 択
											</button>
										</div>
										<div style="clear: both;"></div>
										
									</div>
								</div>
								
								<div ng-show="isSelectUser()" style="margin-top: 20px;">
									<hr />
									<b><p style="margin-top: 10px;">
										宛先：<a ng-bind="selectedUser.user_name"></a>
									</p></b>
									<p style="margin: 0 0 5px;">
										タイトル
									</p>
									<div class="form-group" ng-class="{'has-error': isAttrError(errorsSend.title)}">
										<input type="text" class="form-control" ng-model="selectedUser.title" placeholder="タイトル">
									</div>
									<p style="margin: 10px 0 5px;">
										メッセージ
									</p>
									<div class="form-group" ng-class="{'has-error': isAttrError(errorsSend.content)}">
										<textarea class="form-control" rows="5" style="background-color: white;" ng-model="selectedUser.content" ></textarea>
									</div>
									<div style="float: right; margin-top: 10px;">
										<button type="button" class="btn btn-primary" ng-click="insertMessageThread(selectedUser)">
											送 信
										</button>
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>