	<form novalidate ng-controller="MypageCtrl" name="formMypage" ng-submit="updateUser(userModel)" autocomplete="on">
		<div class="main container">
			<div class="row">
				<div class="col-lg-12">
					
					<h4>MYページ</h4>
					
					<hr style="margin: 15px 0 !important;" />
					
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; display: none;" ng-style="{display: displayMessages == '' ? 'none' : ''}">
						<div class="alert" ng-class="{'alert-info alert-info-ex-blue': !isError(errors), 'alert-danger': isError(errors)}" role="alert">
							<button type="button" class="close" data-dismiss="alert" style="font-size: 0;">
								<span aria-hidden="true" style="font-size: 17px;">×</span><span class="sr-only">Close</span>
							</button>
							<p class="text-center" ng-bind-html="displayMessages | lineBreak">
							</p>
						</div>
					</div>
					
					<div class="col-lg-6" style="margin: 0; padding: 0;">
						
						<ul class="nav nav-tabs">
							<li class="active">
								<a id="my-basic-info-tab" href="javascript:;" ng-click="selectTab(1)" data-toggle="tab" data-target="#my-basic-info">基本情報</a>
							</li>
							<li>
								<a id="my-profile-tab" href="javascript:;" ng-click="selectTab(2)" data-toggle="tab" data-target="#my-profile">プロフィール</a>
							</li>
							<li>
								<a id="my-entry-tab" href="javascript:;" ng-click="selectTab(3)" data-toggle="tab" data-target="#my-entry">提案一覧</a>
							</li>
							<li>
								<a id="my-recruit-tab" href="javascript:;" ng-click="selectTab(4)" data-toggle="tab" data-target="#my-recruit">依頼一覧</a>
							</li>
							<li>
								<a id="my-message-tab" href="javascript:;" ng-click="selectTab(5)" data-toggle="tab" data-target="#my-message">メッセージ</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="selectTab(6)" data-toggle="tab" data-target="#my-logout">ログアウト</a>
							</li>
						</ul>
		
						<!-- tab-content start -->
						<div id="myTabContent" class="tab-content">
		
							<!-- basic info tab start -->
							<div class="tab-pane fade active in" id="my-basic-info" style="padding: 20px;">
								<div class="row">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												メールアドレス
											</p>
											<div style="float: right;">
												<span class="label label-warning">非公開</span>
												<span class="label label-danger">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<input type="text" class="form-control" ng-model="userModel.email" placeholder="メールアドレス" disabled="disabled">
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												表示名
											</p>
											<div style="float: right;">
												<span class="label label-primary" style="padding: 2px 11px;">公開</span>
												<span class="label label-danger">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<input type="text" class="form-control" ng-model="userModel.display_name" placeholder="表示名" disabled="disabled">
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px; margin-bottom: -7px;">
											<p style="float: left;">
												区分
											</p>
											<div style="float: right;">
												<span class="label label-primary" style="padding: 2px 11px;">公開</span>
												<span class="label label-danger">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div style="float: left; margin-top: 7px; width: 320px; display: inline">
											<input type="radio" name="radioMyUserKbn" value="191" ng-model="userModel.user_kbn">
											個人
											<input type="radio" name="radioMyUserKbn" value="192" ng-model="userModel.user_kbn" style="margin-left: 10px;">
											法人
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												パスワード
											</p>
											<div style="float: right;">
												<span class="label label-warning">非公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<input type="password" class="form-control" ng-model="userModel.current_password" placeholder="現在のパスワード">
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												
											</p>
											<div style="float: right;">
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<input type="password" class="form-control" ng-model="userModel.password" placeholder="変更パスワード">
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px; margin-bottom: -7px;">
											<p style="float: left;">
												性別
											</p>
											<div style="float: right;">
												<span class="label label-primary" style="padding: 2px 11px;">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div style="float: left; margin-top: 7px; width: 320px; display: inline">
											<input type="radio" name="radioMySex" value="201" ng-model="userModel.sex" >
											男
											<input type="radio" name="radioMySex" value="202" ng-model="userModel.sex" style="margin-left: 24px;">
											女
											<input type="radio" name="radioMySex" value="203" ng-model="userModel.sex" style="margin-left: 24px;">
											指定なし
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												生年月日
											</p>
											<div style="float: right;">
												<span class="label label-primary" style="padding: 2px 11px;">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7" style="margin-top: 7px;">
											<div class='input-group date' style="width: 150px;">
												<input type='text' class="form-control" ng-model="userModel.birthday" id="userModel_birthday" />
												<span class="input-group-btn">
													<button class="btn btn-default" type="button" 
														ng-blur="handleBlurDateInput('#userModel_birthday', userModel, 'birthday')">
														<span class="glyphicon glyphicon-calendar"></span>
													</button> </span>
											</div>
											<span>（{{getAge()}}） ※年齢のみ公開されます</span>
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 200px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												地域
											</p>
											<div style="float: right;">
												<span class="label label-primary" style="padding: 2px 11px;">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<button id="btnProfileArea" type="button" class="btn btn-default"　data-toggle="collapse" data-target="#area-box" onclick="openCollapseArea();">
												選択
											</button>
		
											<div id="area-box" class="collapse" style="margin-top: 5px;">
												<div class="check_label">
													<input type="radio" name="radioArea" value="300" checked="checked" ng-model="userModel.area">
													&nbsp;未指定
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="301" ng-model="userModel.area">
													&nbsp;北海道
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="302" ng-model="userModel.area">
													&nbsp;青森県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="303" ng-model="userModel.area">
													&nbsp;岩手県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="304" ng-model="userModel.area">
													&nbsp;宮城県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="305" ng-model="userModel.area">
													&nbsp;秋田県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="306" ng-model="userModel.area">
													&nbsp;山形県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="307" ng-model="userModel.area">
													&nbsp;福島県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="308" ng-model="userModel.area">
													&nbsp;茨城県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="309" ng-model="userModel.area">
													&nbsp;栃木県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="310" ng-model="userModel.area">
													&nbsp;群馬県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="311" ng-model="userModel.area">
													&nbsp;埼玉県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="312" ng-model="userModel.area">
													&nbsp;千葉県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="313" ng-model="userModel.area">
													&nbsp;東京都
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="314" ng-model="userModel.area">
													&nbsp;神奈川県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="315" ng-model="userModel.area">
													&nbsp;新潟県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="316" ng-model="userModel.area">
													&nbsp;富山県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="317" ng-model="userModel.area">
													&nbsp;石川県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="318" ng-model="userModel.area">
													&nbsp;福井県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="319" ng-model="userModel.area">
													&nbsp;山梨県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="320" ng-model="userModel.area">
													&nbsp;長野県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="321" ng-model="userModel.area">
													&nbsp;岐阜県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="322" ng-model="userModel.area">
													&nbsp;静岡県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="323" ng-model="userModel.area">
													&nbsp;愛知県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="324" ng-model="userModel.area">
													&nbsp;三重県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="325" ng-model="userModel.area">
													&nbsp;滋賀県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="326" ng-model="userModel.area">
													&nbsp;京都府
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="327" ng-model="userModel.area">
													&nbsp;大阪府
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="328" ng-model="userModel.area">
													&nbsp;兵庫県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="329" ng-model="userModel.area">
													&nbsp;奈良県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="330" ng-model="userModel.area">
													&nbsp;和歌山県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="331" ng-model="userModel.area">
													&nbsp;鳥取県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="332" ng-model="userModel.area">
													&nbsp;島根県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="333" ng-model="userModel.area">
													&nbsp;岡山県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="334" ng-model="userModel.area">
													&nbsp;広島県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="335" ng-model="userModel.area">
													&nbsp;山口県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="336" ng-model="userModel.area">
													&nbsp;徳島県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="337" ng-model="userModel.area">
													&nbsp;香川県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="338" ng-model="userModel.area">
													&nbsp;愛媛県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="339" ng-model="userModel.area">
													&nbsp;高知県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="340" ng-model="userModel.area">
													&nbsp;福岡県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="341" ng-model="userModel.area">
													&nbsp;佐賀県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="342" ng-model="userModel.area">
													&nbsp;長崎県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="343" ng-model="userModel.area">
													&nbsp;熊本県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="344" ng-model="userModel.area">
													&nbsp;大分県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="345" ng-model="userModel.area">
													&nbsp;宮崎県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="346" ng-model="userModel.area">
													&nbsp;鹿児島県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="347" ng-model="userModel.area">
													&nbsp;沖縄県
												</div>
												<div class="check_label">
													<input type="radio" name="radioArea" value="348" ng-model="userModel.area">
													&nbsp;海外
												</div>
												<div style="clear: both;"></div>
		
											</div>
											<span style="margin-left: 5px;">({{getAreaName(userModel.area)}})</span>
										</div>
									</div>
								</div>
							</div>
							<!-- basic info tab end -->
		
							<!-- profile tab start -->
							<div class="tab-pane fade" id="my-profile" style="padding: 20px;">
		
								<div class="row">
									<div class="form-group">
										<div style="float: left; width: 220px; margin-right: 0px; max-height: 30px;">
											<p style="float: left;">
												プロフィール画像
											</p>
											<div style="float: right;">
												<span class="label label-primary">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-6">
											<img ng-src="{{userModel.img_path}}" style="max-height: 120px; max-width: 120px; min-width: 80px;">
											<br />
											<button type="button" class="btn btn-default btn-sm" style="margin-top: 5px;" onclick="$('#avatar').click();">
												<i class="glyphicon glyphicon-folder-open"></i>&nbsp;画像選択
											</button>										
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 180px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												自己紹介
											</p>
											<div style="float: right;">
												<span class="label label-primary">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<textarea rows="5" style="width: 100%;" ng-model="userModel.content"></textarea>
										</div>
									</div>
								</div>
		
								<div class="row" style="margin-top: 10px;">
									<div class="form-group">
										<div style="float: left; width: 180px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												仕事カテゴリ
											</p>
											<div style="float: right;">
												<span class="label label-primary">公開</span>
												<span class="label label-primary">任意</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-7">
											<div style="clear: both;"></div>
		
											<!-- システム開発・運用 start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-system"> システム開発・運用 </a>
													</h4>
												</div>
												<div id="my-system" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="1" ng-click="checkWorkCategory('1')" ng-checked="isCheckWorkCategory('1')">
															&nbsp;Web・システム開発
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="2" ng-click="checkWorkCategory('2')" ng-checked="isCheckWorkCategory('2')">
															&nbsp;スマホアプリ・モバイル開発
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="3" ng-click="checkWorkCategory('3')" ng-checked="isCheckWorkCategory('3')">
															&nbsp;アプリケーション開発
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="4" ng-click="checkWorkCategory('4')" ng-checked="isCheckWorkCategory('4')">
															&nbsp;運用・管理・保守
														</div>
													</div>
												</div>
											</div>
											<!-- システム開発・運用 end -->
		
											<!-- Web制作・Webデザイン start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-web-design"> Web制作・Webデザイン </a>
													</h4>
												</div>
												<div id="my-web-design" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="11" ng-click="checkWorkCategory('11')" ng-checked="isCheckWorkCategory('11')">
															&nbsp;ウェブサイト制作・デザイン
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="12" ng-click="checkWorkCategory('12')" ng-checked="isCheckWorkCategory('12')">
															&nbsp;スマートフォン・モバイルサイト制作
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="13" ng-click="checkWorkCategory('13')" ng-checked="isCheckWorkCategory('13')">
															&nbsp;バナー・アイコン・ボタン
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="14" ng-click="checkWorkCategory('14')" ng-checked="isCheckWorkCategory('14')">
															&nbsp;ECサイト・ネットショップ構築・運用
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="15" ng-click="checkWorkCategory('15')" ng-checked="isCheckWorkCategory('15')">
															&nbsp;Webマーケティング・HP集客
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="16" ng-click="checkWorkCategory('16')" ng-checked="isCheckWorkCategory('16')">
															&nbsp;運営・更新・保守・SNS運用
														</div>
													</div>
												</div>
											</div>
											<!-- Web制作・Webデザイン end -->
		
											<!-- デザイン制作 start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-design"> デザイン制作 </a>
													</h4>
												</div>
												<div id="my-design" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="21" ng-click="checkWorkCategory('21')" ng-checked="isCheckWorkCategory('21')">
															&nbsp;ロゴ・イラスト・キャラクター
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="22" ng-click="checkWorkCategory('22')" ng-checked="isCheckWorkCategory('22')">
															&nbsp;印刷物・DTP・その他
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="23" ng-click="checkWorkCategory('23')" ng-checked="isCheckWorkCategory('23')">
															&nbsp;POP・シール・メニュー
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="24" ng-click="checkWorkCategory('24')" ng-checked="isCheckWorkCategory('24')">
															&nbsp;看板・地図・インフォグラフィック
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="25" ng-click="checkWorkCategory('25')" ng-checked="isCheckWorkCategory('25')">
															&nbsp;プロダクト・3D
														</div>
													</div>
												</div>
											</div>
											<!-- デザイン制作 end -->
		
											<!-- ライティング・ネーミング start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-writing"> ライティング・ネーミング </a>
													</h4>
												</div>
												<div id="my-writing" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="31" ng-click="checkWorkCategory('31')" ng-checked="isCheckWorkCategory('31')">
															&nbsp;ライティング
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="32" ng-click="checkWorkCategory('32')" ng-checked="isCheckWorkCategory('32')">
															&nbsp;ネーミング・コピー
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="33" ng-click="checkWorkCategory('33')" ng-checked="isCheckWorkCategory('33')">
															&nbsp;編集・校正
														</div>
													</div>
												</div>
											</div>
											<!-- ライティング・ネーミング end -->
		
											<!-- タスク・作業 start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-task"> タスク・作業 </a>
													</h4>
												</div>
												<div id="my-task" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="41" ng-click="checkWorkCategory('41')" ng-checked="isCheckWorkCategory('41')">
															&nbsp;データ作成・テキスト入力
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="42" ng-click="checkWorkCategory('42')" ng-checked="isCheckWorkCategory('42')">
															&nbsp;レビュー・投稿・アンケート
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="43" ng-click="checkWorkCategory('43')" ng-checked="isCheckWorkCategory('43')">
															&nbsp;調査・分析・その他
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="44" ng-click="checkWorkCategory('44')" ng-checked="isCheckWorkCategory('44')">
															&nbsp;内職・軽作業・代行
														</div>
													</div>
												</div>
											</div>
											<!-- タスク・作業 end -->
		
											<!-- マルチメディア start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-multimedia"> マルチメディア </a>
													</h4>
												</div>
												<div id="my-multimedia" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="51" ng-click="checkWorkCategory('51')" ng-checked="isCheckWorkCategory('51')">
															&nbsp;動画・写真・画像
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="52" ng-click="checkWorkCategory('52')" ng-checked="isCheckWorkCategory('52')">
															&nbsp;漫画・アニメーション・ドラマ
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="53" ng-click="checkWorkCategory('53')" ng-checked="isCheckWorkCategory('53')">
															&nbsp;音楽・音源・ナレーション
														</div>
													</div>
												</div>
											</div>
											<!-- マルチメディア end -->
		
											<!-- 翻訳 start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-translation"> 翻訳 </a>
													</h4>
												</div>
												<div id="my-translation" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="61" ng-click="checkWorkCategory('61')" ng-checked="isCheckWorkCategory('61')">
															&nbsp;英語翻訳・英文翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="62" ng-click="checkWorkCategory('62')" ng-checked="isCheckWorkCategory('62')">
															&nbsp;中国語翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="63" ng-click="checkWorkCategory('63')" ng-checked="isCheckWorkCategory('63')">
															&nbsp;韓国語翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="64" ng-click="checkWorkCategory('64')" ng-checked="isCheckWorkCategory('64')">
															&nbsp;フランス語翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="65" ng-click="checkWorkCategory('65')" ng-checked="isCheckWorkCategory('65')">
															&nbsp;スペイン語翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="66" ng-click="checkWorkCategory('66')" ng-checked="isCheckWorkCategory('66')">
															&nbsp;ドイツ語翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="67" ng-click="checkWorkCategory('67')" ng-checked="isCheckWorkCategory('67')">
															&nbsp;その他翻訳
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="68" ng-click="checkWorkCategory('68')" ng-checked="isCheckWorkCategory('68')">
															&nbsp;映像翻訳・出版翻訳・メディア翻訳
														</div>
													</div>
												</div>
											</div>
											<!-- 翻訳・通訳サービス end -->
		
											<!-- 企画・リサーチ・その他 start -->
											<div class="panel panel-default" style="margin-bottom: 10px;">
												<div class="panel-heading">
													<h4 class="panel-title" style="font-size: 13px;">
														<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-plan"> 企画・リサーチ・その他 </a>
													</h4>
												</div>
												<div id="my-plan" class="panel-collapse collapse">
													<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
														<div>
															<input type="checkbox" value="71" ng-click="checkWorkCategory('71')" ng-checked="isCheckWorkCategory('71')">
															&nbsp;企画・PR
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="72" ng-click="checkWorkCategory('72')" ng-checked="isCheckWorkCategory('72')">
															&nbsp;リサーチ・分析・解析
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="73" ng-click="checkWorkCategory('73')" ng-checked="isCheckWorkCategory('73')">
															&nbsp;セールス・ビジネスサポート
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="74" ng-click="checkWorkCategory('74')" ng-checked="isCheckWorkCategory('74')">
															&nbsp;資料作成サポート
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="75" ng-click="checkWorkCategory('75')" ng-checked="isCheckWorkCategory('75')">
															&nbsp;コンサルティング
														</div>
														<div style="margin-top: 7px;">
															<input type="checkbox" value="76" ng-click="checkWorkCategory('76')" ng-checked="isCheckWorkCategory('76')">
															&nbsp;その他
														</div>
													</div>
												</div>
											</div>
											<!-- 企画・リサーチ・その他 start -->
											
											<div style="margin-left: 5px; font-size: 12px;" ng-bind-html="getCheckWorkCategories() | lineBreak"></div>
										</div>
									</div>
								</div>
		
							</div>
							<!-- profile tab end -->
		
							<!-- entry tab start -->
							<div class="tab-pane fade" id="my-entry" style="padding: 20px;">
								<div ng-show="!workProposes || workProposes.length == 0">提案はありません</div>
								<div class="row">
									<div ng-repeat="workPropose in workProposes">
										<div class="panel panel-default" style="margin-bottom: 10px;">
											<div class="panel-heading">
												<h4 class="panel-title" style="font-size: 13px;"><a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-entry{{workPropose.id}}"> {{workPropose.title}} </a></h4>
											</div>
											<div id="my-entry{{workPropose.id}}" class="panel-collapse collapse">
												<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
													<div ng-show="isProjectPayment(workPropose.payment_kbn)">
														<pre style="font-size: 14px; text-align: center; margin-bottom: 0;">{{workPropose.payment_kbn_name}}：￥{{getNumComma(workPropose.price)}} 完了予定日：{{workPropose.noki}}</pre>
													</div>
													<div ng-show="!isProjectPayment(workPropose.payment_kbn)">
														<pre style="font-size: 12px; text-align: center; margin-bottom: 0;">{{workPropose.payment_kbn_name}}：￥{{getNumComma(workPropose.hour_price)}}(1H辺り) 週に {{workPropose.week_hour_kbn_name}} 相当の仕事を {{workPropose.week_hour_period_kbn_name}} の期間実施予定</pre>
													</div>
													<pre ng-show="workPropose.ok_flg == 1" ng-bind-html="getOkMsg(workPropose) | doTrustAsHtml" 
														style="font-size: 12px; text-align: left; margin-bottom: 0; margin-top: 10px; background: white;"></pre>
													<div style="float: right; font-size: 12px;">
														詳細は<a ng-href="work/detail/{{workPropose.item_id}}" target="_blank">こちら</a>から
													</div>
													<div style="clear: both;"></div>
			
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
							<!-- entry tab end -->
		
							<!-- recruit tab start -->
							<div class="tab-pane fade" id="my-recruit" style="padding: 20px;">
								<div ng-show="!works || works.length == 0">依頼はありません</div>
								<div class="row">
									<div ng-repeat="work in works">
										<div class="panel panel-default" style="margin-bottom: 10px;">
											<div class="panel-heading">
												<h4 class="panel-title" style="font-size: 13px;"><a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-entry{{work.id}}"> {{work.title}} </a></h4>
											</div>
											<div id="my-entry{{work.id}}" class="panel-collapse collapse">
												<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
													<div ng-show="isProjectPayment(work.payment_kbn)">
														<pre style="font-size: 14px; text-align: center; margin-bottom: 0;">{{work.payment_kbn_name}}：￥{{getNumComma(work.price_kbn_name)}} 希望納期：{{work.noki}}</pre>
													</div>
													<div ng-show="!isProjectPayment(work.payment_kbn)">
														<pre style="font-size: 12px; text-align: center; margin-bottom: 0;">{{work.payment_kbn_name}}：￥{{getNumComma(work.hour_price_kbn_name)}}(1H辺り)<br />週に {{work.week_hour_kbn_name}} 相当の仕事を {{work.week_hour_period_kbn_name}} の期間依頼予定</pre>
													</div>
													<div style="float: right; font-size: 12px; margin-bottom: 10px;">
														詳細は<a ng-href="work/detail/{{work.id}}">こちら</a>から
													</div>
													<div style="clear: both;"></div>
													
													<div ng-show="!work.proposes || work.proposes.length == 0" style="margin-left: 3px;">
														(提案はまだありません。)
													</div>
			
													<div ng-repeat="propose in work.proposes">
														<div class="panel panel-default" style="margin-bottom: 10px;">
															<div class="panel-heading">
																<h4 class="panel-title" style="font-size: 13px; float: left; margin-top: 6px;">
																	<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#my-entry-user{{propose.user_id}}"> {{propose.user_name}}さんの提案 </a>
																</h4>
																<button type="button" class="btn btn-default btn-sm" style="float: right;" ng-click="doOkPropose(propose)" ng-disabled="propose.ok_flg == 1">
																	<i class="glyphicon glyphicon-ok-sign"></i>&nbsp;{{getOkProposeString(propose.ok_flg)}}
																</button>
																<div style="clear: both;"></div>
															</div>
															<div id="my-entry-user{{propose.user_id}}" class="panel-collapse collapse">
																<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
																	<div ng-show="isProjectPayment(propose.payment_kbn)">
																		<pre style="font-size: 14px; text-align: center; margin-bottom: 0;">{{propose.payment_kbn_name}}：￥{{getNumComma(propose.price)}} 提案納期：{{propose.noki}}</pre>
																	</div>
																	<div ng-show="!isProjectPayment(propose.payment_kbn)">
																		<pre style="font-size: 12px; text-align: center; margin-bottom: 0;">{{propose.payment_kbn_name}}：￥{{getNumComma(propose.hour_price)}}(1H辺り)<br />週に {{propose.week_hour_kbn_name}} 相当の仕事を {{propose.week_hour_period_kbn_name}} の期間実施予定</pre>
																	</div>
																	<pre style="font-size: 12px; text-align: left; margin-bottom: 0; margin-top: 10px; background: white;">{{propose.content}}</pre>
																	<div style="float: right; font-size: 12px;">
																		メッセージのやり取りは<a ng-href="message/target/{{propose.msg_id}}" target="_blank">こちら</a>から
																	</div>
																	<div style="clear: both;"></div>
							
																</div>
															</div>
														</div>
													</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
							<!-- recruit tab end -->
		
							<!-- message tab start -->
							<div class="tab-pane fade" id="my-message" style="padding: 20px;">
								<div class="row" style="text-align: left;">
									<button type="button" class="btn btn-default" ng-click="moveMessage()">
										<i class="glyphicon glyphicon-save"></i>&nbsp;メッセージ画面を表示する
									</button>
								</div>
							</div>
							<!-- message tab end -->
		
							<!-- logout tab start -->
							<div class="tab-pane fade" id="my-logout" style="padding: 20px;">
								<div class="row" style="text-align: left;">
									<button type="button" class="btn btn-default" ng-click="doLogout()">
										<i class="glyphicon glyphicon-save"></i>&nbsp;ログアウトする
									</button>
								</div>
							</div>
							<!-- logout tab end -->
		
						</div>
						<!-- tab-content end -->
						
						<div ng-show="tabKbn == 1 || tabKbn == 2">
							<hr style="margin-bottom: 20px !important;" />
							
							<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-edit"></i>&nbsp;更 新
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>