	<div class="main container">
	
		<div class="row">
			<h4 style="margin-left: 20px;">個人情報保護方針</h4>
	
			<hr style="margin-top: 20px !important; margin-bottom: 20px !important;" />
	
			<div class="row" style="margin-top: 20px; padding-left: 35px; padding-right: 35px;" >
				<pre>第１条【総則】
アップスワーク[AppsWork]（https://apps-work.com、以下「甲」といいます。）は、利用者が本サイトを安心してご利用いただけますよう、また、本サイトの運営を行う上で、個人情報を適切に取り扱うことを社会的責務であると考え、甲が保有する個人情報を適切に管理運用するために遵守するべき基本的事項として本保護方針を定めます。

第２条【個人情報とは】
本サイトにおいて、電子メールアドレス等、特定の個人を識別できる情報をいいます。

第３条【個人情報の取得・利用目的】
本サイトにおいて、甲は以下の目的のため、個人情報を適法かつ公正な手段で取得・利用させていただきます。甲は、利用者本人の同意がある場合を除き、以下の目的達成に必要な範囲を超えて、取得した個人情報を利用しません。
(1) 本サイトのサービスを提供するため
(2) 本サイトを安心・安全にご利用いただける環境整備のため
(3) 本サイトの運営・管理のため
(4) 本サイト、その他甲のサービスについての調査・データ集積、研究開発のため
(5) 甲がおすすめする商品・サービスなどのご案内を送信・送付するため
(6) 甲と利用者の間での必要な連絡を行うため
(7) その他甲と利用者の間で同意した目的のため
(8) 上記 (1) から (7) に附随する目的のため

第４条【個人情報の管理】
甲は、個人情報の滅失、き損、漏洩及び不正利用等を防止し、その安全管理を行うために必要な措置を講じ、個人情報を安全に管理します。また、甲は個人情報を利用目的の範囲内において、正確かつ最新の状態で管理するように努めます。

第５条【個人情報の第三者への提供・開示】
甲は、以下のいずれかに該当する場合に限り、法令の範囲内で、個人情報を第三者に提供する場合があります。
・会員本人の同意がある場合。
・公的機関等またはそれらの委託を受けた者より、開示請求を受領した場合。
・生命や財産に危機が生じ、緊急に開示する必要があり、当該会員の同意を得るのが困難な場合。
・第三者に対し、本サイトの運営に必要な業務の一部もしくは一切を委託する場合またはビジネスの移管を行う場合。

第６条　個人情報の第三者への提供・開示
本保護方針は、甲の判断により利用者の同意なしに全部又は一部の改訂を行うことができるものとし、本保護方針改訂後に利用者が本サイトを利用した場合には、当該改訂に同意したものとみなします。 ただし、本保護方針の内容を大幅に改訂する場合については本サイト上においてお知らせいたします。

（附則）
２０１５年　７月　１日制定
　　　　年　　月　　日改訂
				</pre>
								
			</div>
		</div>
	</div>
