	<div class="main container">

		<div class="row">
			<h4>【若手歓迎！未経験でもOK】javaでサイト制作をした事がある方募集！！</h4>

			<div style="float: left">
				<p style="font-size: 12px; margin-top: 5px; margin-left: 20px;">
					<a href="#dummy" style="color: #666666; text-decoration: underline;">Web・システム開発</a>
					<span> > </span>
					<a href="#dummy" style="color: #666666; text-decoration: underline;">Webシステム開発・プログラミング</a>
				</p>
			</div>

			<div style="float: right">
				<div style="float: left;" class="fb-like" data-href="http://recommend-novel.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
				<div style="float: right; margin-left: 10px; margin-top: 3px;" >
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				</div>
			</div>
			<div style="clear: both;"></div>

			<hr />

			<div class="row" style="margin-top: 20px; padding-left: 20px;" >
				<!-- work content start -->
				<div class="col-md-6">
					<div style="padding-right: 15px;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size: 14px; color: inherit; font-weight: 600;">仕事概要</h3>
							</div>
							<div class="panel-body" style="padding: 10px 15px 10px 15px; line-height: normal;">
								<p style="font-size: 13px; margin-top: 1px; margin-bottom: 5px; margin-left: 2px;">
									クライアント：
									<a href="#dummy" style="text-decoration: underline;">シンプソン</a>
								</p>
								<div>
									<div style="float: left; margin-top: 5px;">
										<span class="label label-success" style="font-size: 11px;">プロジェクト</span>
									</div>
									<div style="float: left; margin-left: 10px;">
										<span style="font-size: 16px; font-weight: 900; color: #ff1313;">300,000 ~ 500,000</span>
									</div>
								</div>
								<div style="clear:both;"></div>
								<p style="font-size: 12px; margin-top: 10px;">
									<a href="#dummy" style="color: #666666; text-decoration: underline;">Web・システム開発</a>
									<span> > </span>
									<a href="#dummy" style="color: #666666; text-decoration: underline;">Webシステム開発・プログラミング</a>
								</p>
								<p style="font-size: 12px; margin-top: 5px;">
									希望納期：2015/07/01
								</p>
								<hr style="margin-top: 5px; margin-bottom: 5px;">
								<div style="float: right; margin-top: 5px;">
									<button type="button" class="btn btn-default btn-sm">
										<i class="glyphicon glyphicon-question-sign"></i>&nbsp;質問する
									</button>
									<button type="button" class="btn btn-default btn-sm" style="margin-left: 5px;">
										<i class="glyphicon glyphicon-bookmark"></i>&nbsp;気になるリストへ追加
									</button>
									<button type="button" class="btn btn-default btn-sm" style="margin-left: 5px;">
										<i class="glyphicon glyphicon-ban-circle"></i>&nbsp;違反報告
									</button>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
					</div>

					<div style="padding-right: 15px;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size: 14px; color: inherit; font-weight: 600;">仕事詳細</h3>
							</div>
							<div class="panel-body" style="padding: 10px 15px 10px 15px; line-height: normal;">
								<pre class="back-none">
ご覧いただきましてありがとうございます。
弊社では数多くのPHP（CakePHP, symfony)およびRuby on Railsを使用した案件を持っており，
それらの案件について包括的にお手伝いしていただけるウェブエンジニア・プログラマの方を募集しております。
（案件内容は、自社サービス開発、受託開発がメインになります）
ふるってご応募いただければと存じます。
弊社が都内にございますので、都内で週２、３程度対面で打ち合わせできますと幸いです。

※CakePHP, Symfony, Ruby on Railsのうちどれか１つでも対応可能な方、ふるってご応募くださいませ。

【お仕事の詳細】
弊社案件を包括的にお手伝いしていただける方

★ 弊社のメリット
・Symfonyを始めとするCakePHPなどPHP各種フレームワーク案件を多く扱っておりますので，依頼させていただく案件がなくなることがありません．
・月額固定契約を基本としております為，毎月安定しており，他の案件に応募するなどといった無駄な営業活動も不要になります．
・チャットワークで連絡を取り合うことができ、Skypeで定期的にMTGすることが可能でしたら，リモート・遠方の方でも大歓迎です。
・受託開発会社にありがちな，プログラマー様を低い地位で扱うなどということはありません．
　弊社はプログラマー様を始めとする技術者を尊敬し，お手伝い・お付き合いいただけることに感謝いたします．
　（でなければ，プログラマー様に案件をお願いする資格はないと考えております．）
・弊社代表がエンジニア出身なので、プログラマー様とのコミュニケーションコストが低いです。

▼使用するプログラミング言語/ツール/特殊技術（テクノロジー）
・使用言語：PHP(symfony, CakePHP(両方共1系2系問いません)), Ruby on Railsなど
・MySQL
・JavaScript、jQuery
・サーバサイドの技術（vps、クラウドサーバーなど）
・HTML/CSS
・gitコマンドについての一通りの理解（rebaseやbisectまではできなくても大丈夫です）

▼重要視する点・開発経験
・フレームワークのプログラム経験（フレームワークによる開発／ライブラリ開発の経験があるとなお可）
・企業向けウェブサイト・アプリケーション・ソフトウェアの開発経験
・拡張性・生産性の高いコーディング力
・クライアント企業とのコミュニケーションに慣れている方

▼ウェブ開発の報酬
最初，お互いにどのくらいのボリューム感の仕事になるかというのを認識する（お試しする）といった意味も含めまして，
月80時間20万円からで考えております．報酬は月額固定契約（決まった時間，決まった報酬）で考えております．

報酬：
① 月80時間 , 30~40万円
② 月160時間, 50~70万円

契約期間：半年〜１年
（契約期間内報酬合計：180万円〜840万円）

価格よりもクオリティ重視ですので、それなりの実績がある方にはそれなりの金額をお支払いするつもりです。

▼開発物の納品形式
その都度随時．基本的にgitを用います．

====================================================
★ご応募の際の注意事項 (必読)

①下記に１つでも当てはまる方は，申し訳ございませんがご応募いただかないようよろしくお願いいたします．
□ 対面でのMTGをすることが難しい方
□ そもそも応募する気のない方（たまに冷やかしと取られるメッセージをいただいたりしますが，随時運営事務局に報告させていただきます）

②たまに全案件について全く同じテンプレでご応募される方などいらっしゃいますが，そのような応募は申し訳ございませんが辞退させていただきます．

====================================================

▼注意点・禁止事項
※他で登録されているデザインや商標の転用など他社の知的財産権を侵すこと
※他のクライアントへ既に提案した内容の転用など

▼その他コメント
※実際のWebサイト開発/アプリケーション開発の進め方・別途詳細は、クラウドワークスのメッセージでやりとりして決めさせて頂ければと思います。
※基本報酬は上記となりますが柔軟に対応はさせていただきますので応募の際にお申し付けくださいませ．
（価格よりもクオリティ・実績重視です）
※当方，長いお付き合いをいただける方を希望しておりますので，もしよろしければ今後とも長くお付き合いさせていただければと存じます．
※実際に契約いたします際にNDAを交わさせていただきます。

ご連絡・ご応募お待ちしております。
応募画面へ
								</pre>
							</div>
						</div>
					</div>
				</div>
				<!-- work content end -->

				<!-- work entry start -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge">14</span>
									閲覧件数
								</li>
								<li class="list-group-item">
									<span class="badge">2</span>
									気になる件数
								</li>
								<li class="list-group-item">
									<span class="badge">1</span>
									提案件数
								</li>
							</ul>

						</div>
					</div>

					<div class="row">
						<div class="col-md-10">
							<div class="panel panel-default">
								<div class="panel-heading">
									メッセージ一覧
								</div>
								<div class="panel-body">

									<!-- システム開発・運用 start -->
									<div class="panel panel-default" style="margin-bottom: 10px;">
										<div class="panel-heading">
											<h4 class="panel-title" style="font-size: 13px;">
												<a data-toggle="collapse" data-parent="#accordion" href="#system"> 送信者：develope 送信日時：2015/04/11 11:22 </a>
											</h4>
										</div>
										<div id="system" class="panel-collapse collapse">
											<div class="panel-body" style="font-size: 12px; padding: 10px 15px;">
											</div>
										</div>
									</div>
									<!-- システム開発・運用 end -->

								</div>
							</div>
						</div>
					</div>
					
					<button id="btnEntry" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#entry-box" onclick="openCollapseEntry();">
						<i class="glyphicon glyphicon-arrow-down"></i>&nbsp;メッセージのみ送信する
					</button>

					<div id="entry-box" class="collapse" style="margin-top: 25px !important;">
						<div class="panel panel-default">
							<div class="panel-body" style="padding: 10px;">
								<div class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 0px;">
									<div class="form-group">
										<div style="float: left; width: 160px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												メッセージ
											</p>
											<div style="float: right;">
												<span class="label label-danger" style="padding: 2px 11px;">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-12 form-inline" style="padding-left: 0;">
											<textarea rows="15" style="width: 100%;"></textarea>
											<p style="float: right">
												(後1000文字入力可能です。)
											</p>
											<div style="clear: both;"></div>
										</div>
									</div>
								</div>

								<div class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 0px;">
									<div class="form-group">
										<div class="col-lg-12" style="padding-left: 0;">
											<button type="button" class="btn btn-default" style="float: right;">
												<i class="glyphicon glyphicon-question-sign"></i>&nbsp;送　信
											</button>
											<div style="clear: both;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
										
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-10">
							<div class="panel panel-default">
								<div class="panel-heading">
									これまでおこなってきた提案
								</div>
								<div class="panel-body">
									<pre style="font-size: 14px; text-align: center; margin-bottom: 0;">固定報酬：500,000 完了予定日：2015/7/1</pre>
									<div style="float: right; font-size: 10px;">
										(2015/4/2提案)
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
						</div>
					</div>

					<button id="btnEntry" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#entry-box" onclick="openCollapseEntry();">
						<i class="glyphicon glyphicon-arrow-down"></i>&nbsp;追加で提案する
					</button>

					<div id="entry-box" class="collapse" style="margin-top: 25px;">
						<div class="panel panel-default">
							<div class="panel-body" style="padding: 10px;">

								<div class="row" style="margin-left: 10px;">
									<div class="form-group">
										<div style="float: left; width: 160px; margin-top: 6px; margin-right: 20px; max-height: 30px; margin-bottom: -7px;">
											<p style="float: left;">
												支払方式
											</p>
											<div style="float: right;">
												<span class="label label-danger" style="padding: 2px 11px;">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div style="float: left; margin-top: 7px; width: 350px; display: inline">
											<input type="radio" name="optionsRadios" id="optionsRadios2" value="option1" checked="checked">
											時給制
											<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="margin-left: 10px;">
											固定報酬
										</div>
									</div>
								</div>

								<div class="row" style="margin-top: 10px; margin-left: 10px;">
									<div class="form-group">
										<div style="float: left; width: 160px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												契約金額
											</p>
											<div style="float: right;">
												<span class="label label-danger" style="padding: 2px 11px;">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-8 form-inline">
											<input type="text" class="form-control" id="inputEmail" placeholder="" style="width: 130px; text-align: right; display: inline;" value="0">
											<span style="margin-left: 5px;">円</span>
											<p>
												(募集条件：300,000 ~ 500,000)
											</p>
										</div>
									</div>
								</div>

								<div class="row" style="margin-top: 10px; margin-left: 10px;">
									<div class="form-group">
										<div style="float: left; width: 160px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												完了予定日
											</p>
											<div style="float: right;">
												<span class="label label-danger" style="padding: 2px 11px;">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-8 form-inline">
											<div class='input-group date' id='datetimepicker1' style="width: 166px;">
												<input type='text' class="form-control" style="width: 130px;" />
												<span class="input-group-btn">
													<button class="btn btn-default" type="button">
														<span class="glyphicon glyphicon-calendar"></span>
													</button> </span>
											</div>
											<p>
												(希望納期：2015/07/01)
											</p>
										</div>
									</div>
								</div>

								<div class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 0px;">
									<div class="form-group">
										<div style="float: left; width: 160px; margin-top: 6px; margin-right: 20px; max-height: 30px;">
											<p style="float: left;">
												メッセージ
											</p>
											<div style="float: right;">
												<span class="label label-danger" style="padding: 2px 11px;">必須</span>
												<span class="glyphicon glyphicon-question-sign" style="margin-left: 5px;"></span>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="col-lg-12 form-inline" style="padding-left: 0;">
											<textarea rows="15" style="width: 100%;"></textarea>
											<p style="float: right">
												(後1000文字入力可能です。)
											</p>
											<div style="clear: both;"></div>
										</div>
									</div>
								</div>

								<div class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 0px;">
									<div class="form-group">
										<div class="col-lg-12" style="padding-left: 0;">
											<button type="button" class="btn btn-default" style="float: right;">
												<i class="glyphicon glyphicon-question-sign"></i>&nbsp;送　信
											</button>
											<div style="clear: both;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- work entry end -->

			</div>

			<!-- アラートモーダル -->
			<div class="modal" id="modal-alert" tabindex="-1">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="modal-label">確認</h4>
						</div>
						<div class="modal-body" id="alert-message"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								閉じる
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
