<div class="main container">

	<div class="row">
		<div id="message-area" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="message" class="alert alert-info" role="alert" style="background-color: #4DB0FF; margin-bottom: 20px;">
				<button id="btnMessageClose" type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true" style="font-size: 17px;">×</span><span class="sr-only">Close</span>
				</button>
				<p id="message-text" class="text-center">
					アップスワークは発注者も受注者も<span style="color: rgb(255, 242, 0); font-weight: 600;">手数料０円</span>で取引可能な
					<br>
					シンプルなマッチング機能のみに特化したクラウドソーシングサービスです。
					<br>
				</p>
			</div>
		</div>
	</div>

	<div id="thumbnails">
		<div class="thumb col-md-4 col-sm-5 col-xs-12 nopadding">
			<a class="item_link" href="http://www.amazon.co.jp/dp/4101369186" target="_blank"></a>
			<div style="padding-right: 15px;">
				<div class="panel panel-primary">
					<div class="panel-heading" style="background-color: #45ABFF;">
						<h3 class="panel-title" style="font-size: 14px;"><a href="#dummy" style="color: inherit; font-weight: 600;">楽天市場の購入履歴を管理するツールの開発</a></h3>
					</div>
					<div class="panel-body" style="padding: 10px 15px 10px 15px; line-height: normal;">
						<div>
							<div style="float: left; margin-top: 1px;">
								<span class="label label-success" style="font-size: 11px;">プロジェクト</span>
							</div>
							<div style="float: left; margin-left: 10px;">
								<span style="font-size: 16px; font-weight: 900; color: #ff1313;">300,000 ~ 500,000</span>
							</div>
						</div>
						<div style="clear:both;"></div>
						<p style="font-size: 12px; margin-top: 5px;">
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Web・システム開発</a>
							<span> > </span>
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Webシステム開発・プログラミング</a>
						</p>
						<hr style="margin-top: 5px; margin-bottom: 5px;">
						<div style="float: right;">
							<span style="font-size: 13px; font-weight: 900; margin-right: 20px;">提案数： <a href="#dummy" style="color: #666666;">1</a> </span>
							<span style="font-size: 13px; font-weight: 900;">残り 3日</span>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="thumb col-md-4 col-sm-5 col-xs-12 nopadding">
			<a class="item_link" href="http://www.amazon.co.jp/dp/4101369186" target="_blank"></a>
			<div style="padding-right: 15px;">
				<div class="panel panel-primary">
					<div class="panel-heading" style="background-color: #45ABFF;">
						<h3 class="panel-title" style="font-size: 14px;"><a href="#dummy" style="color: inherit; font-weight: 600;">楽天市場の購入履歴を管理するツールの開発</a></h3>
					</div>
					<div class="panel-body" style="padding: 10px 15px 10px 15px; line-height: normal;">
						<div>
							<div style="float: left; margin-top: 1px;">
								<span class="label label-success" style="font-size: 11px;">プロジェクト</span>
							</div>
							<div style="float: left; margin-left: 10px;">
								<span style="font-size: 16px; font-weight: 900; color: #ff1313;">300,000 ~ 500,000</span>
							</div>
						</div>
						<div style="clear:both;"></div>
						<p style="font-size: 12px; margin-top: 5px;">
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Web・システム開発</a>
							<span> > </span>
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Webシステム開発・プログラミング</a>
						</p>
						<hr style="margin-top: 5px; margin-bottom: 5px;">
						<div style="float: right;">
							<span style="font-size: 13px; font-weight: 900; margin-right: 20px;">提案数： <a href="#dummy" style="color: #666666;">1</a> </span>
							<span style="font-size: 13px; font-weight: 900;">残り 3日</span>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="thumb col-md-4 col-sm-5 col-xs-12 nopadding">
			<a class="item_link" href="http://www.amazon.co.jp/dp/4101369186" target="_blank"></a>
			<div>
				<div class="panel panel-primary">
					<div class="panel-heading" style="background-color: #45ABFF;">
						<h3 class="panel-title" style="font-size: 14px;"><a href="#dummy" style="color: inherit; font-weight: 600;">楽天市場の購入履歴を管理するツールの開発</a></h3>
					</div>
					<div class="panel-body" style="padding: 10px 15px 10px 15px; line-height: normal;">
						<div>
							<div style="float: left; margin-top: 1px;">
								<span class="label label-success" style="font-size: 11px;">プロジェクト</span>
							</div>
							<div style="float: left; margin-left: 10px;">
								<span style="font-size: 16px; font-weight: 900; color: #ff1313;">300,000 ~ 500,000</span>
							</div>
						</div>
						<div style="clear:both;"></div>
						<p style="font-size: 12px; margin-top: 5px;">
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Web・システム開発</a>
							<span> > </span>
							<a href="#dummy" style="color: #666666; text-decoration: underline;">Webシステム開発・プログラミング</a>
						</p>
						<hr style="margin-top: 5px; margin-bottom: 5px;">
						<div style="float: right;">
							<span style="font-size: 13px; font-weight: 900; margin-right: 20px;">提案数： <a href="#dummy" style="color: #666666;">1</a> </span>
							<span style="font-size: 13px; font-weight: 900;">残り 3日</span>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
